@font-face {
    font-family: 'ABC Diatype';
    src: url('/assets/type/ABC_Diatype.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Medium';
    src: url('/assets/type/ABC_Diatype_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABC Diatype Bold';
    src: url('/assets/type/ABC_Diatype_Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    scrollbar-width: none;
}

html {
    font-size: 16px;
    cursor: url('/assets/graphics/plus_point.svg'), auto;
}    

html a:hover {
    cursor: url('/assets/graphics/arrow_hover.svg'), auto;
}

body {
    background-color: whitesmoke;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

header {
    display: flex; 
    flex-direction: row;
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 10000;  
    width: 100%; 
    height: 4rem;
    padding-left: clamp(1rem,3vw,1.5rem);
    padding-right: clamp(1rem,3vw,1.5rem);
    border-bottom: 3px solid #111;
    background-color: whitesmoke;
}

nav.title {
    display: flex;
    flex: .4;  
    justify-content: flex-start; 
    align-items: center; 
    position: relative;
}

nav.links {
    display: flex;
    flex: .6;  
    justify-content: flex-end; 
    align-items: center;
    position: relative;
}

nav.links a:nth-child(n+2) {
    padding-left: .75rem;
}

nav a {
    font-family: 'ABC Diatype', Helvetica, Arial, sans-serif;
    font-size: clamp(1.063rem,3vw,1.125rem);
    font-weight: 400;
    line-height: 1.5; 
    color: #111;
}

nav:not(.title) a.active,
nav a:hover  {
    color: #BA1C26;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 8rem 3.5rem; 
}

.text {
    max-width: 39.75rem;
}

p {
    font-family: 'ABC Diatype', Helvetica, Arial, sans-serif;
    font-size: clamp(1.063rem,3vw,1.125rem);
    font-weight: 400;
    line-height: 1.5; 
    color: #111;
    margin: 0;
}

h1 {
    font-family: 'ABC Diatype Medium', Helvetica, Arial, sans-serif;
    font-size: clamp(1.73rem,4vw,1.84rem);
    font-weight: 500;
    line-height: 1.3;
    color: #111;
    margin: 0 0 1rem 0;
}

b,
strong {
    font-family: 'ABC Diatype Bold', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none !important;
    color: #111;
}

hr {
    height: 1px;
    margin: 1.75rem 0; 
    border: 0;
    background: #BA1C26;
}

footer {
    display: flex; 
    flex-direction: row;
    position: fixed; 
    left: 0; 
    bottom: 0; 
    width: 100%; 
    height: 4rem;  
    padding-left: clamp(1rem,3vw,1.5rem);
    padding-right: clamp(1rem,3vw,1.5rem);
    border-top: 3px solid #111;
    background-color: whitesmoke;
}

footer .title {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    position: relative; 
    width: 50%; 
}

footer .copyright {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    position: relative; 
    width: 50%; 
}

/*Mobile*/

@media screen and (max-width: 768px) {    
    .page {
        display: block;
        padding: 8rem 1rem;
    }
}